<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="utry.data.modular.account.dao.HrmAccountInfoDao">

    <resultMap id="accountInfoBOResultMap" type="utry.data.modular.account.model.AccountInfoBO">
        <result property="accountId" column="AccountID" jdbcType="VARCHAR"/>
        <result property="realName" column="RealName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectAllAccountInfo" resultMap="accountInfoBOResultMap">
        SELECT AccountID, RealName
        FROM hrm_db.t_hrm_accountinfo
    </select>
</mapper>