<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" packages="utry.core.log.appender">
  <Appenders>
	<DBAppender name="DBAppender" ></DBAppender>
<!--     <DBAppender name="DbAppender"></DBAppender> -->
    <Console name="console" target="SYSTEM_OUT">
     	<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
    </Console>

<!--     <RollingRandomAccessFile name="RollingRandomAccessFile" fileName="/home/logs/hrm_out.log" -->
<!--                  filePattern="/home/logs/$${date:yyyy-MM}/hrm_out-%d{MM-dd-yyyy}-%i.log.gz"> -->
<!--       <PatternLayout> -->
<!--         <Pattern>%d %p %c{1.} [%t] %m%n</Pattern> -->
<!--       </PatternLayout> -->
<!--       <Policies> -->
<!--       	<OnStartupTriggeringPolicy /> -->
<!--         <TimeBasedTriggeringPolicy /> -->
<!--         <SizeBasedTriggeringPolicy size="250 MB"/> -->
<!--       </Policies> -->
<!--     </RollingRandomAccessFile> -->

	<!-- <ASYNC name="async">
      <AppenderRef ref="mongoDbAppender" />
      <AppenderRef ref="RollingRandomAccessFile"/>
      <AppenderRef ref="console"/>
    </ASYNC> -->
  </Appenders>
  <Loggers>
    <AsyncLogger level="info" includeLocation="true" name="hrmAsyncLogger" >
    </AsyncLogger>
    <AsyncRoot level="debug">
    	<AppenderRef ref="DBAppender"/>
<!--     	<AppenderRef ref="RollingRandomAccessFile"/> -->
    	<AppenderRef ref="console"/>
    </AsyncRoot>
  </Loggers>
</Configuration>